body {
  background: #f2f2f2;
}

h1 {
  font-size: 22px;
}

p {
  color: grey;
}

.title {
  color: rgb(95, 185, 21);
  font-size: large;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  width: 1100px;
  background-color: #f2f2f2;
  bottom: 10px;
  margin: 0 auto;
  border-bottom: 3px solid #ed312b;
}

.header_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  padding: 20px;
  list-style: none;
  
}
.cate {
  font: icon;
  display: flex;
  justify-self: center;
  font-size: xx-large;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 1100px;
  margin: 40px auto;
}

.parent {
  display: flex;
  width: 1000px;
  height: auto;
  flex-wrap: wrap;
  margin: 20px;
}

.subtitle {
  font: icon;
  margin: 20px 50px 20px 20px;
  font-size: x-large;
  width: 150px;
  float: left;
  border-left: solid 3px #e0505d;
  padding-left: 10px;
}

.push {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 50px auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #27acd9;
  background: #27acd9;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

button.push:hover {
  color: #27acd9;
  background: #fff;
}

.layout {
display: flex;
justify-content: right;

}

.menu {
  justify-content: center;
  align-items: center;
  margin: 50px ;
  width: auto;
  text-align: center;
  font-size: xx-large;
}

.list {
  margin-bottom: 20px;
  width: 800px;
  margin: 0 auto;
}

.menulist {
  font: icon;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  height: auto;
  margin: 0 auto;
  border-radius: 1em;
  font-size: x-large;

}
.exam {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 50px;
  align-items: center;
  margin: 20px;
}
#chef {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  margin: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border: 2px solid #ed312b;
  color: #ed312b;
  border-radius: 100vh;
}
#type {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  margin: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border: 2px solid #ed312b;
  color: #ed312b;
  border-radius: 100vh;
}

#fOB {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  margin: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border: 2px solid #ed312b;
  color: #ed312b;
  border-radius: 100vh;
}

#time {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  margin: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border: 2px solid #ed312b;
  color: #ed312b;
  border-radius: 100vh;
}

.third {
  display: flex;
  margin: 20px;
}

#number {
  width: 100px;
  height: 25px;
  font-size: x-large;
}
#foodName {
  width: 300px;
  height: 25px;
  border: #c8eac3;
  border-radius: 2%;
  font-size: x-large;
}

#pic {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pic{
  border-radius: 30px;
}

#memo {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: auto;
  margin: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border: 2px solid #ed312b;
  color: #ed312b;
  border-radius: 100vh;
}

.form {
  width:800px;
  margin:50px auto;
  padding: auto;
}

.item{
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
}

.label{
  float: left;
  margin-right: 20px;
  width:135px;
  border-left: solid 3px #e0505d;
  padding-left: 10px;
}

.inputs{
  float: left;
  width:300px;
}

input[type="text"] {
  font-size: xx-large;
}

.btn-area{
  text-align: center;
  margin: 80px;
}

button {
  width: 300px;
  cursor: pointer;
  border-radius: 100px;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  font-size: large;
  border: 2px solid #27acd9;
  background: #27acd9;
  color: #fff;
}

.example2{
  display: flex;
}

.example2 label{
  display: block;
  width: 150px;
  background: #d1d1d1;
  color: #000;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
}

.example2 input:checked+label{
  border: 2px solid #27acd9;
  background: #27acd9;
  color: #fff;
}

.example2 input{
  display: none;
}

#recipe_list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 25%;
    font-size: 12px;
}

#raku {
  width: 300px;
}

